# String Based Assignment Problem

In [ ]:
###1.Program to Reverse a String

In [1]:
Text=str(input("Enter the String"))
Reversed_String=Text[::-1]
print(Reversed_String)

Enter the Stringshivank
knavihs

In [ ]:
###2.Check If A string is palindrome

In [3]:
String=str(input("Input String : "))
Reversed_String=String[::-1]
if Reversed_String==String:
    print("String is Palindrome")
else :
    print("String is not Palindrome")

Input String : string
String is not Palindrome

In [ ]:
###3.Convert a String to uppercase

In [4]:
String=str(input("Enter the String : "))
String_upper=String.upper()
print(String_upper)

Enter the String : shivank
SHIVANK

In [5]:
###4.Convert a String to lowercase

In [6]:
String=str(input("Enter the String : "))
String_lower=String.lower()
print(String_lower)

Enter the String : SHIVANK
shivank

In [ ]:
###5.Count the number of vowels in a string

In [10]:
String=str(input("Enter the String : "))
vowel=0
for i in String:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowel=vowel+1
print("Count of vowels are : ",vowel)

Enter the String : Python is a programming language
Count of vowels are :  10

In [ ]:
###6.Count the number of consonants in a string

In [8]:
def Total_count(string):
    count_consonant = 0
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    for char in string:
        if char in consonants:
            count_consonant = count_consonant+1
    return count_consonant
input_string = input("Enter a string: ")
result = Total_count(input_string)
print("Total Number of consonants:", result)

Enter a string: Python is a programming language
Total Number of consonants: 18

In [ ]:
###7.Remove all whitespaces from a String

In [12]:
Input_string=str(input("Enter the String:"))
without_whitespace=Input_string.replace(" ","")
print("String without Whitespace is : ",without_whitespace)

Enter the String:python is alanguage
String without Whitespace is :  pythonisalanguage

In [ ]:
###8.Find the length of the string without using the Len() function

In [13]:
String=str(input("Enter the String : "))
len=0
for i in String:
    len=len+1
print("Lenth of the String is :",len )

Enter the String : python
Lenth of the String is : 6

In [ ]:
###9.Check if a string contains a specific word

In [14]:
String=str(input("Enter the String : "))
Particular_word=str(input("Enter the word : "))
if Particular_word in String:
    print("String Contains the word")
else:
    print("String does not contain the word")

Enter the String : Python is a programming languag
Enter the word : is
String Contains the word

In [ ]:
###10.Replace a word with another word in string

In [15]:
String=str(input("Enter the String : "))
tobereplaced=str(input("Enter the Word : "))
new_word=str(input("Enter the new Word : "))
After_replacing=String.replace(tobereplaced,new_word)
print("String after Replacing the word:",After_replacing)

Enter the String : python is a language
Enter the Word : python
Enter the new Word : java
String after Replacing the word: java is a language

In [9]:
##11.Count the Occerence of the Word in a String

In [17]:
String=str(input("Enter the String : "))
word=str(input("Enter the Word : "))
words=String.split()
occurence=0
for i in words:
    if i == word:
        occurence=occurence+1
print("Count : ",occurence)

Enter the String : is it is a
Enter the Word : is
Count :  2

In [ ]:
###12.Find the First Occurence of the word in a string

In [18]:
String=str(input("Enter the String : "))
word=str(input("Enter the Word : "))
result=String.find(word)
if result==-1:
    print("Word not Found")
else:
    print("Position of First Occurecne of the Word is :",result)

Enter the String : python is a
Enter the Word : python
Position of First Occurecne of the Word is : 0

In [ ]:
###13.Find the First Occurence of the word in a string

In [18]:
String=str(input("Enter the String : "))
word=str(input("Enter the Word : "))
result=String.rfind(word)
if result==-1:
    print("Word not Found")
else:
    print("Position of Last Occurecne of the Word is :",result)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
Enter the Word : is
Position of Last Occurecne of the Word is : 55

In [ ]:
###14.Split a String in to list of Words

In [19]:
String=str(input("Enter the String : "))
Listofwords=String.split()
print("List of Word :",Listofwords)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
List of Word : ['Shivank', 'is', 'working', 'as', 'System', 'Engineer', 'in', 'Tata', 'Play', 'and', 'is', 'working', 'with', 'CA', 'Team']

In [20]:
###15.Join a list of words into a String

In [27]:
Words=['Shivank', 'is', 'working', 'as', 'System', 'Engineer', 'in', 'Tata', 'Play', 'and', 'is', 'working', 'with', 'CA', 'Team']
string=' '.join(words)
print(string)

Shivank is working as System Engineer in Tata Play and is working with CA Team

In [28]:
###16.Convert a string where words are separated by spaces to one where words are separated by underscores

In [34]:
String=str(input("Enter the String : "))
Updated_String=String.replace(" ","_")
print("New String is : ",Updated_String)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
New String is :  Shivank_is_working_as_System_Engineer_in_Tata_Play_and_is_working_with_CA_Team

In [35]:
###17.Check If a String starts with a specific word or phrase

In [42]:
String=str(input("Enter the String : "))
word=str(input("Enter the Word : "))
words=String.startswith(word)
if words==True:
    print("String Starts with ",word)
else:
    print("String does not start with ",word)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
Enter the Word : the
String does not start with  the

In [43]:
###18.Check If a String ends with a specific word or phrase

In [2]:
String=str(input("Enter the String : "))
word=str(input("Enter the Word : "))
words=String.endswith(word)
if words==True:
    print("String Ends with ",word)
else:
    print("String does not end with ",word)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
Enter the Word : is
String does not end with  is

In [ ]:
###19.Convert a String to title case

In [5]:
String=str(input("Enter the String : "))
Titled_String=String.title()
print("Final Output is :",Titled_String)

Enter the String : shivank is working as System Engineer in tata play and is working with ca team
Final Output is : Shivank Is Working As System Engineer In Tata Play And Is Working With Ca Team

In [6]:
###20.Find the Longest Word in a String

In [1]:
String=str(input("Enter the String : "))
words=String.split()
longestword=max(words,key=len)
print("Longest Word is :",longestword)

Enter the String : Shivank Is Working As System Engineer In Tata Play And Is Working With Ca Team
Longest Word is : Engineer

In [2]:
###21.Find the Shortest Word in a String

In [3]:
String=str(input("Enter the String : "))
words=String.split()
shortestword=min(words,key=len)
print("Shortest Word is :",shortestword)

Enter the String : Shivank Is Working As System Engineer In Tata Play And Is Working With Ca Team
Shortest Word is : Is

In [4]:
###22.Reverse the order of words in a String

In [7]:
String=str(input("Enter the String : "))
words=String.split()
words=list(reversed(words))
print("Reversed String is :", " ".join(words))

Enter the String : Shivank Is Working As System Engineer In Tata Play And Is Working With Ca Team
Reversed String is : Team Ca With Working Is And Play Tata In Engineer System As Working Is Shivank

In [8]:
###23.Check if a string is alphanumeric

In [12]:
String=str(input("Enter the String : "))
alphanumeric=String.isalnum()
if alphanumeric==True:
    print("String is Alphanumeric")
else:
    print("String is not Alphanumeric")

Enter the String : Shivank Is Working As System Engineer In Tata Play And Is Working With Ca Team
String is not Alphanumeric

In [64]:
###24.Extract all digits from a string

In [63]:
def digits(String):
    digit = ""
    for i in String:
        if i.isdigit():
            digit += i
    return digit
String = "Shivank123456"
extract_digits = digits(String)
print("All Digits:", extract_digits)

All Digits: 123456

In [65]:
###25.Extract All Alphabets from a String

In [67]:
def alphabets(String):
    alphabet = ""
    for i in String:
        if i.isalpha():
            alphabet += i
    return alphabet
String = "Shivank123456"
extract_alphabet = alphabets(String)
print("All Alphabets:", extract_alphabet)

All Alphabets: Shivank

In [68]:
###26.Count the Number of Uppercase Alphabets in a string

In [69]:
def Total_count(string):
    count_uppercase = 0
    uppercase = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    for i in string:
        if i in uppercase:
            count_uppercase = count_uppercase+1
    return count_uppercase
input_string = input("Enter a string: ")
result = Total_count(input_string)
print("Total Number of Uppercase letters:", result)

Enter a string: Shivank is working as System Engineer in Tata Play and is working with CA Team
Total Number of Uppercase letters: 8

In [70]:
###27.Count the Number of Uppercase Alphabets in a string

In [73]:
def Total_count(string):
    count_lowercase = 0
    lowercase = "abcdefghijklmnopqrstuvwxyz"
    for i in string:
        if i in lowercase:
            count_lowercase = count_lowercase+1
    return count_lowercase
input_string = input("Enter a string: ")
result = Total_count(input_string)
print("Total Number of Lowercase letters:", result)

Enter a string: Shivank is working as System Engineer in Tata Play and is working with CA Team
Total Number of Lowercase letters: 56

In [74]:
###28.Swap the case of each character in a string

In [76]:
String=str(input("Enter the String : "))
swapped_string=String.swapcase()
print("Swapped Case String :",swapped_string)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
Swapped Case String : sHIVANK IS WORKING AS sYSTEM eNGINEER IN tATA pLAY AND IS WORKING WITH ca tEAM

In [77]:
###29.Remove a specific word from a string

In [127]:
String=str(input("Enter the String : "))
Wordtoremove=str(input("Enter the word : "))
Remove=String.replace(Wordtoremove,"")
print("String after Removal : ",Remove)

Enter the String : Shivank is working as System Engineer in Tata Play and is working with CA Team
Enter the word : Play
String after Removal :  Shivank is working as System Engineer in Tata  and is working with CA Team

In [108]:
###30.Check if a string is a valid email address

In [19]:
import re
def is_valid_email_address(email_address):
    symbols = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(symbols, email_address):
        return True
    else:
        return False
email = "shivankemail.com"
result = is_valid_email_address(email)
print(result)

False

In [143]:
##31.Extract the username from an email address string

In [2]:
String=str(input("Enter the Email : "))
Splitted_email=String.split('@')
First_splitted_part=Splitted_email[0]
print("Name from Email : ",First_splitted_part)

Enter the Email : shivank@gmail.com
Name from Email :  shivank

In [3]:
##32.Extract the domain Name from an email address string
String=str(input("Enter the Email : "))
Splitted_email=String.split('@')
Last_splitted_part=Splitted_email[-1]
print("Domain from Email : ",Last_splitted_part)

Enter the Email : shivank@gmail.com
Domain from Email :  gmail.com

In [4]:
##33.Replace multiple spaces in a string with a single space

In [15]:
String=str(input("Enter the String : "))
Splitted_String=String.split()
stringwith1space=' '.join(Splitted_String)
print("String with 1 space : ",stringwith1space)

Enter the String : shivank gupta   system    engineer    tata   play
String with 1 space :  shivank gupta system engineer tata play

In [20]:
##34.Check if a string is a valid URL.

In [31]:
import re

def is_valid_url(url):
    pattern = r'^(http|https):\/\/([\w.-]+)(\.[\w.-]+)+([\/\w\.-]*)*\/?$'
    return bool(re.match(pattern, url))
url="https://www.google@com"
print(is_valid_url(url))

False

In [16]:
##35.Extract the protocol (http or https) from a URL string

In [18]:
String1=str(input("Enter the URL : "))
Splitted_URL=String1.split(':')
First_splitted_part=Splitted_URL[0]
print("Protocol : ",First_splitted_part)

Enter the URL : http:\\google.com
Protocol :  http

In [19]:
##36.Find the frequency of each character in a string

In [54]:
from collections import Counter
String = str(input("Enter the String : "))
Freq_Set = set(String)
for i in Freq_Set:
    countOfChar = 0
    for char in String:
        if char == i:
            countOfChar += 1
    print("Count of character '{}' is {}".format(i, countOfChar))

Enter the String : Akash
Count of character 'h' is 1
Count of character 'k' is 1
Count of character 'a' is 1
Count of character 'A' is 1
Count of character 's' is 1

In [ ]:
##37.Remove all punctuation from a string

In [58]:
String = str(input("Enter the String : "))
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in punctuations:
    if i in punctuations:
        String=String.replace(i,"")
print("String After Punctuation Removal :",String)

Enter the String : Gfg, is best : for ! Geeks ;
String After Punctuation Removal : Gfg is best  for  Geeks

In [63]:
##38.Check if a string contains only digits

In [62]:
String = str(input("Enter the String : "))
Only_Digit=String.isdigit()
if Only_Digit is True:
    print("String Contains Only Digits")
else:
    print("String does not contain only Digits")

Enter the String : 1234588
String Contains Only Digits

In [64]:
##39.Check if a string contains only alphabets

In [66]:
String = str(input("Enter the String : "))
Only_Alpha=String.isalpha()
if Only_Alpha is True:
    print("String Contains Only Alphabets")
else:
    print("String does not contain only Alphabets")

Enter the String : Shivank
String Contains Only Alphabets

In [67]:
##40.Convert a string to a list of characters

In [33]:
String = str(input("Enter the String :"))
Count = []
 
for i in String:
    Count.append(i)
print(Count)

Enter the String :python
['p', 'y', 't', 'h', 'o', 'n']

In [1]:
##41.Check if two strings are anagrams
String1 = sorted(str(input("Enter the String :")))
String2 = sorted(str(input("Enter the String :")))
if String1==String2:
    print("Strings are Anagrams")
else:
    print("Strings are not Anagrams")

Enter the String :hinkasv
Enter the String :shivank
Strings are Anagrams

In [17]:
##42.Encode a string using a Caesar Cipher

In [16]:
alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
new_message=""

input_str = str(input("Enter message : ")).upper()
key=int(input("Enter the Key : "))

for i in input_str:
    if i in alphabets:
        position=alphabets.find(i)
        new_position=(position+key)%26
        new_character=alphabets[new_position]
        new_message +=new_character
print("Encrypted Message is",new_message)

Enter message : SHIVANK
Enter the Key : 1
Encrypted Message is TIJWBOL

In [18]:
##43.Decode a Caesar Cipher Encoded String

In [19]:
alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
new_message=""

input_str = str(input("Enter message : ")).upper()
key=int(input("Enter the Key : "))

for i in input_str:
    if i in alphabets:
        position=alphabets.find(i)
        new_position=(position-key)%26
        new_character=alphabets[new_position]
        new_message +=new_character
print("Encrypted Message is",new_message)

Enter message : TIJWBOL
Enter the Key : 1
Encrypted Message is SHIVANK

In [23]:
##44.Find the Most Frequent word in String

In [34]:
from collections import Counter
data_set = "Python is a programming language having many libaries and many datatypes & many inbuilt functions"
split=data_set.split()
Counter=Counter(split)
most_occur=Counter.most_common(1)
print(most_occur)

[('many', 3)]

In [4]:
##45.Find all unique words in a string

In [40]:
def Uniqueword(l):
    for i in l:
        print(i)
str = "is this a is"
s = str.split(" ")
print("Unique Words : ",set(s))

Unique Words :  {'this', 'a', 'is'}

In [ ]:
##46.Count the number of syllables in a string

In [41]:
String=input("Enter the word:")
syllable_count=0
for i in String:
      if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
            syllable_count=syllable_count+1
print("The number of syllables in the string is: ")
print(syllable_count)

Enter the word:Python
The number of syllables in the string is:
1

In [26]:
##47.Check if a string contains any special characters

In [42]:
import re
String =  input('Enter the string : ')
Special_char = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
print("Input String is ", String)
if(Special_char.search(String) == None):
    print("The string does not contain special character")
else:
    print("The string contains special character")

Enter the string : shivank@12345
Input String is  shivank@12345
The string contains special character

In [2]:
###48.Remove the nth word from a string

In [43]:
def remove(string, n):  
      first = string[:n]   
      last = string[n+1:]  
      return first + last
string=input("Enter the sring:")
n=int(input("Enter the index of the character to remove:"))
print("Modified string:")
print(remove(string, n))

Enter the sring:shivank
Enter the index of the character to remove:4
Modified string:
shivnk

In [5]:
###49.Insert a word at the nth position in a string

In [2]:
String =  input('Enter the string : ')
New_string=String[:4]+"a"+String[4:]
print(New_string)

Enter the string : shivnk
shivank

In [23]:
##50.Convert a CSV string to a list of lists

In [39]:
def conversion(String):
    Splitted_String = String.split('\n')
    Store = []
    for line in Splitted_String:
        Rows = line.split(',')
        Store.append(Rows)
    return Store
Input_String = "Fruit,Flower\nCherry,Rose\nApple,Lotus\nBanana,Lily"
Converted_List = conversion(Input_String)
for j in Converted_List:
    print(j)

['Fruit', 'Flower']
['Cherry', 'Rose']
['Apple', 'Lotus']
['Banana', 'Lily']

# List Based Assignment Problems

In [40]:
###1.Create a list with integers from 1 to 10

In [44]:
Numbers=range(1,10)
print(list(Numbers))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
###2.Find the length of a list without using the Len() function

In [48]:
List=[1,2,3,4,5,6,7,8,9]
count=0
for i in List:
    count=count+1
print("Length of the List : ",count)

Length of the List :  9

In [ ]:
##3.Append an element to the end of a list

In [49]:
List=[1,2,3,4,5,6,7,8,9]
List.append(10)
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
###4.Insert an element at a specific index in a list

In [50]:
List=[1,2,3,4,5,6,7,8,9]
List.insert(4,4.5)
print(List)

[1, 2, 3, 4, 4.5, 5, 6, 7, 8, 9]

In [60]:
###5.Remove an element from a list by its value

In [51]:
List=[1,2,3,4,5,6,7,8,9]
List.remove(5)
print(List)

[1, 2, 3, 4, 6, 7, 8, 9]

In [63]:
###6.Remove an element from a list by its index

In [52]:
List=[1,2,3,4,5,6,7,8,9]
List.pop(2)
print(List)

[1, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
###7.Check if an element exists in a list.

In [53]:
List=[1,2,3,4,5,6,7,8,9]
Element=0
if Element in List:
    print("Element Exists")
else:
    print("Element Doesn't Exist")

Element Doesn't Exist

In [70]:
##8.Find the index of the first occurrence of an element in a list

In [54]:
List=[1,2,3,4,5,6,7,8,9]
Element=2
Index=List.index(Element)
print("Index : ",Index)

Index :  1

In [ ]:
###9.Count the occurrences of an element in a list

In [55]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Element=2
Count=List.count(Element)
print("Occurence Count: ",Count)

Occurence Count:  3

In [83]:
###10.Reverse the order of elements in a list

In [56]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List.reverse()
print(List)

[32, 19, 32, 65, 13, 9, 2, 6, 5, 2, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [88]:
###11.Sort a list in ascending order

In [57]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List.sort()
print(List)

[1, 2, 2, 2, 3, 4, 5, 5, 6, 6, 7, 8, 9, 9, 13, 19, 32, 32, 65]

In [90]:
###12.Sort a list in descending order

In [58]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List.sort(reverse=True)
print(List)

[65, 32, 32, 19, 13, 9, 9, 8, 7, 6, 6, 5, 5, 4, 3, 2, 2, 2, 1]

In [92]:
###13.Create a list of even numbers from 1 to 20

In [59]:
My_list=range(2,21,2)
list(My_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [105]:
###14.Create a list of odd numbers from 1 to 20

In [60]:
My_list=range(1,20,2)
list(My_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [107]:
###15.Find the sum of all elements in a list

In [61]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Sum=sum(List)
print("Sum of all elements is : ",Sum)

Sum of all elements is :  230

In [109]:
###16.Find the maximum value in a list

In [62]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Max=max(List)
print("Max value in list : ",Max)

Max value in list :  65

In [111]:
###17.Find the minimum value in a list

In [63]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Min=min(List)
print("Min value in list : ",Min)

Min value in list :  1

In [113]:
###18.Create a list of squares of numbers from 1 to 10

In [74]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Square=[x**2 for x in List]
print("Square of numbers : ",Square)

Square of numbers :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 4, 25, 36, 4, 81, 169, 4225, 1024, 361, 1024]

In [117]:
##19.Create a list of random numbers

In [73]:
import random
rand_list=random.sample(range(1,50),20)
print("Random List : ",rand_list)

Random List :  [13, 30, 12, 31, 40, 16, 22, 37, 26, 23, 41, 27, 29, 46, 3, 38, 19, 43, 17, 18]

In [121]:
###20.Remove duplicates from a list

In [72]:
List=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Unique=list(set(List))
print("List After Removing Duplicates : ",Unique)

List After Removing Duplicates :  [32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 65, 13, 19]

In [126]:
###21.Find the common elements between two lists

In [71]:
List1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List2=[1,2,3,4,8,9,2,5,6,2,9]
common=set(List1).intersection(List2)
print("Common Elements : ",common)

Common Elements :  {1, 2, 3, 4, 5, 6, 8, 9}

In [128]:
##22.Find the difference between two lists

In [70]:
List1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List2=[1,2,3,4,8,9,2,5,6,2,9]
Diff=list(set(List1).difference(List2))
print("Difference : ",Diff)

Difference :  [32, 65, 7, 13, 19]

In [130]:
###23.Merge two lists

In [69]:
List1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
List2=[1,2,3,4,8,9,2,5,6,2,9]
Merged=List1+List2
print("Merged List : ",Merged)

Merged List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32, 1, 2, 3, 4, 8, 9, 2, 5, 6, 2, 9]

In [133]:
###24.Multiply all elements in a list by 2

In [76]:
List1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Multiply=[i *2 for i in List1]
print("List after Multiplication : ",Multiply)

List after Multiplication :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 4, 10, 12, 4, 18, 26, 130, 64, 38, 64]

In [137]:
###25.Filter out all even numbers from a list

In [79]:
List1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
Odd=[i for i in List1 if i%2!=0]
print("List after filtering out even numbers : ",Odd)

List after filtering out even numbers :  [1, 3, 5, 7, 9, 5, 9, 13, 65, 19]

In [142]:
###26.Convert a list of strings to a list of integers

In [90]:
List1=["1","2","3","4","5","6","7","8","9","2","5","6","2","9","13","65","32","19","32"]
Listofintegers=[int(i) for i in List1]
print("List of integers : ",Listofintegers)

List of integers :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32]

In [144]:
##27.Convert a list of integers to a list of strings

In [1]:
List1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32]
Listofstrings=[str(i) for i in List1]
print(Listofstrings)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '2', '5', '6', '2', '9', '13', '65', '32', '19', '32']

In [147]:
###28.Flatten a nested list

In [100]:
List=[[1,2,7,9,4,5],[7,1,9,3],[4,6,9,1]]
Flat_List=[i for Sublist in List for i in Sublist]
print(Flat_List)

[1, 2, 7, 9, 4, 5, 7, 1, 9, 3, 4, 6, 9, 1]

In [150]:
###29.Create a list of the first 10 Fibonacci numbers

In [101]:
x=0
y=1
number=int(input("Enter the count of Fibonacci Series Numbers : "))
i=2
List=[x,y]
while i<number:
    fibonacci=x+y
    List.append(fibonacci)
    x=y
    y=fibonacci
    i=i+1
print(List)

Enter the count of Fibonacci Series Numbers : 5
[0, 1, 1, 2, 3]

In [155]:
###30.Check If a list is sorted

In [102]:
List1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32]
List2=list.sort(List1)
if List1==List2:
    print("List is sorted")
else:
    print("List is not sorted")

List is not sorted

In [157]:
###31.Rotate a list to the left by 'n' position

In [103]:
List1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32]
n=int(input("Enter the number to rotate left : "))
Rotated_List=List1[n:]+List1[:n]
print(Rotated_List)

Enter the number to rotate left : 2
[3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32, 1, 2]

In [170]:
###32.Rotate a list to the right by 'n' position

In [171]:
List1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32]
n=int(input("Enter the number to rotate right : "))
Rotated_List=List1[-n:]+List1[:-n]
print(Rotated_List)

Enter the number to rotate right : 1
[32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19]

In [172]:
###33.Create a list of prime numbers up to 50

In [180]:
for i in range(2,51):
    for j in range(2,51):
        if i%j==0:
            break
    if i==j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [184]:
###34.Split a list into chunks of size 'n'

In [198]:
List = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]    
chunk_size = 4  
New_List = []  
i = 0  
while i < len(List):  
    ch = List[i:i+chunk_size]  
    New_List.append(ch)  
    i = i + chunk_size  
print(New_List)

[[10, 20, 30, 40], [50, 60, 70, 80], [90, 100]]

In [199]:
###35.Find the second largest number in a list

In [211]:
List = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_list=sorted(set(List))
print(my_list)
if len(my_list)>=2:
    second_largest=my_list[-2]
    print("Second largest Number is :",second_largest)
else:
    print("List has less than 2 elements")

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Second largest Number is : 90

In [212]:
###36.Replace every element in a list with its square

In [213]:
List = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Square=[i**2 for i in List]
print("Squared : ",Square)

Squared :  [100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

In [214]:
###37.Convert a list to a dictionary where list elements become keys and their indices become values

In [218]:
List = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
dict = {value:i for i, value in enumerate(List)}
print(dict)

{10: 0, 20: 1, 30: 2, 40: 3, 50: 4, 60: 5, 70: 6, 80: 7, 90: 8, 100: 9}

In [219]:
##38.Shuffle the elements of a list randomly

In [224]:
import random
List = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
random.shuffle(List)
print("List after shuffle : ",List)

List after shuffle :  [100, 30, 70, 50, 10, 80, 40, 20, 90, 60]

In [225]:
###39.Create a list of the first 10 factorial numbers

In [104]:
def factorial(i):
    if i==0 or i==1:
        return 1
    else:
        return i*factorial(i-1)
factorial_numbers = [factorial(j) for j in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [236]:
###40.Check if two lists have at least one element in common

In [105]:
def common(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
    return result
list1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
list2=[1,2,3,4,8,9,2,5,6,2,9]
print(common(list1, list2))

True

In [260]:
###41.Remove all elements from a list

In [106]:
list1=[1,2,3,4,5,6,7,8,9,2,5,6,2,9,13,65,32,19,32]
list1.clear()
print(list1)

[]

In [264]:
###42.Replace negative numbers in a list with 0

In [2]:
list1=[1,2,3,4,5,6,-7,8,9,2,5,-6,2,9,13,-65,32,19,32]
for i in range(len(list1)):
    if list1[i]<0:
        list1[i]=0
print(list1)

[1, 2, 3, 4, 5, 6, 0, 8, 9, 2, 5, 0, 2, 9, 13, 0, 32, 19, 32]

In [280]:
###43.Convert a string into a list of words

In [4]:
String=str(input("Enter the string : "))
Converted_string=String.split()
print("List of words : ",Converted_string)

Enter the string : python is a programming language
List of words :  ['python', 'is', 'a', 'programming', 'language']

In [284]:
###44.Convert a list of words into a string

In [5]:
List=['Python', 'is', 'a', 'programming', 'language']
String=" ".join(List)
print(String)

Python is a programming language

In [288]:
##45.Create a list of the first n powers of 2

In [6]:
n=int(input("Enter the number : "))
list=[2**i for i in range(n)]
print(list)

Enter the number : 8
[1, 2, 4, 8, 16, 32, 64, 128]

In [291]:
###46.Find the longest string in a list of strings

In [7]:
List=['Python', 'is', 'a', 'programming', 'language']
Long=''
for i in List:
    if len(i)>len(Long):
        Long=i
print("Longest String is : ",Long)

Longest String is :  programming

In [305]:
###47.Find the shortest string in a list of strings

In [8]:
List=["Python", "is", "a", "programming", "language"]
Short=List[0]
for i in List:
    if len(i)<len(Short):
        Short=i
print("Shortest String is : ",Short)

Shortest String is :  a

In [315]:
###48.Create a list of the first n triangular numbers

In [9]:
def triangular(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = int(input("Enter the Number : "))
triangular_list = triangular(n)
print("List of the ", n, "triangular numbers:", triangular_list)

Enter the Number : 6
List of the  6 triangular numbers: [1, 3, 6, 10, 15, 21]

In [339]:
###49.Check if a list contains another list as a subsequence

In [17]:
list1=[1, 2, 4, 8, 16, 32, 64, 128]
sub1=[4,8,6]
def subsequence(sub1,list1):
    subseq=0
    for i in list1:
        if i==sub1[subseq]:
            subseq=subseq+1
            if subseq==len(sub1):
                return True
    return False
if  subsequence(sub1,list1)  : 
    print("Main list contains the subsequence")
else:
    print("Main list does not contain the subsequence")

Main list does not contain the subsequence

In [18]:
###50.Swap two elements in a list by their indices

In [20]:
list1=[1, 2, 4, 8, 16, 32, 64, 128]
index1=5
index2=3
x=list1[index1]
list1[index1]=list1[index2]
list1[index2]=x
print("List after swapping elements by indices : ",list1)

List after swapping elements by indices :  [1, 2, 4, 32, 16, 8, 64, 128]

# Tuple Based Assignment Problems

In [341]:
###1.Create a tuple with integers from 1 to 5

In [21]:
Tuple=(1,2,3,4,5)
print(Tuple)
type(Tuple)

(1, 2, 3, 4, 5)

tuple

In [344]:
###2.Access the third element of a tuple

In [22]:
Tuple=(1,2,3,4,5)
Third_Element=Tuple[2]
print(Third_Element)

3

In [347]:
###3.Find the length of a tuple without using the len() function

In [23]:
Tuple=(1,2,3,4,5)
count=0
for i in Tuple:
    count=count+1
print("Length of the String is :",count)

Length of the String is : 5

In [354]:
###4.Count the occurrences of an element in a tuple

In [24]:
Tuple=(1,2,3,4,5,2,4,8,1,9)
Number=2
count=0
for i in Tuple:
    if i==Number:
        count=count+1
print("Occurence of the element :",count)

Occurence of the element : 2

In [361]:
###5.Find the index of the first occurrence of an element in a tuple

In [25]:
Tuple=(1,2,9,4,5,2,4,8,1,9)
Number=9
Index=Tuple.index(Number)
print("Index of First Occurence of number is :",Index)

Index of First Occurence of number is : 2

In [384]:
###6.Check if an element exists in a tuple

In [26]:
Tuple=(1,2,9,4,5,2,4,8,1,9)
Number=7
if Number in Tuple:
        print("Number Exists")
else:
    print("Number not exist")

Number not exist

In [392]:
###7.Convert a tuple to a list.

In [27]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
list1=[i for i in Tuple1]
print("List is :",list1)

List is : [1, 2, 9, 4, 5, 2, 4, 8, 1, 9]

In [408]:
###8.Convert a list to a tuple

In [28]:
List1=[1, 2, 9, 4, 5, 2, 4, 8, 1, 9]
Tuple1=tuple(List1)
print(Tuple1)

(1, 2, 9, 4, 5, 2, 4, 8, 1, 9)

In [410]:
###9.Unpack the elements of a tuple into variables

In [29]:
Tuple = ("String1", "String2", "String3")

(str1, str2, str3) = Tuple

print(str1)
print(str2)
print(str3)

String1
String2
String3

In [413]:
###10.Create a tuple of even numbers from 1 to 10

In [30]:
list1=[i for i in range(2,11,2)]
tuple(list1)

(2, 4, 6, 8, 10)

In [427]:
###11.Create a tuple of odd numbers from 1 to 10

In [33]:
list1=[i for i in range(1,10,2)]
tuple(list1)

(1, 3, 5, 7, 9)

In [431]:
###12.Concatenate two tuples

In [34]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Tuple2=(1,2,9,5,3,4,8,1,9)
concat=Tuple1+Tuple2
print("After concatenation :",concat)
type(concat)

After concatenation : (1, 2, 9, 4, 5, 2, 4, 8, 1, 9, 1, 2, 9, 5, 3, 4, 8, 1, 9)

tuple

In [441]:
###13.Repeat a tuple three times

In [35]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Repeat=3*Tuple1
print(Repeat)

(1, 2, 9, 4, 5, 2, 4, 8, 1, 9, 1, 2, 9, 4, 5, 2, 4, 8, 1, 9, 1, 2, 9, 4, 5, 2, 4, 8, 1, 9)

In [443]:
###14.Check if a tuple is empty

In [36]:
x=(1,2,9,4,5,2,4,8,1,9)
if len(x)==0:
    print("List is Empty")
else:
    print("List is not Empty")

List is not Empty

In [457]:
###15.Create a nested tuple

In [37]:
x=((1,2,3),(4,5,6),(7,8,9))
print("Nested Tuple is :",x)

Nested Tuple is : ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [460]:
###16.Access the first element of a nested tuple

In [38]:
x=((1,2,3),(4,5,6),(7,8,9))
first_element=x[0]
print("First Element : ",first_element)

First Element :  (1, 2, 3)

In [472]:
###17.Create a tuple with a single element

In [39]:
single_tuple=(13,)
print(single_tuple)

(13,)

In [475]:
###18.Compare two tuples

In [40]:
tuple1=(1,2,9,4,5,2,4,8,1,9,5,6)
tuple2=(1,2,9,5,3,4,8,1,9)
print("tuple1 > tuple2 : ",tuple1>tuple2)
print("tuple1 < tuple2 : ",tuple1<tuple2)
print("tuple1 = tuple2 : ",tuple1==tuple2)
print("tuple1 != tuple2 : ",tuple1!=tuple2)
print("tuple1 >= tuple2 : ",tuple1>=tuple2)
print("tuple1 <= tuple2 : ",tuple1>=tuple2)

tuple1 > tuple2 :  False
tuple1 < tuple2 :  True
tuple1 = tuple2 :  False
tuple1 != tuple2 :  True
tuple1 >= tuple2 :  False
tuple1 <= tuple2 :  False

In [489]:
###19.Delete a tuple

In [41]:
tuple1=(1,2,9,5,3,4,8,1,9)
del tuple1
print(tuple1)

NameError: name 'tuple1' is not defined

In [494]:
###20.Slice a tuple

In [42]:
tuple1=(1,2,9,5,3,4,8,1,9)
Sliced_Tuple=tuple1[3:5]
print("Sliced Tuple :",Sliced_Tuple)

Sliced Tuple : (5, 3)

In [497]:
###21.Find the maximum value in a tuple

In [43]:
tuple1=(1,2,9,5,3,4,8,1,9)
max=0
for i in tuple1:
    if i>max:
        max=i
print("Max value is : ",max)

Max value is :  9

In [519]:
###22.Find the minimum value in a tuple

In [44]:
tuple1=(1,2,9,5,3,4,8,1,9,11,-9)
min=None
for i in tuple1:
    if min is None or i<min:
        min=i
print("Minimum Value is : ",min)

Minimum Value is :  -9

In [555]:
###23.Convert a string to a tuple of characters

In [45]:
String="Convert a string to a tuple of characters"
TUPLE=tuple(String)
print("Tuple : ",TUPLE)

Tuple :  ('C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 't', 'o', ' ', 'a', ' ', 't', 'u', 'p', 'l', 'e', ' ', 'o', 'f', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's')

In [558]:
###24.Convert a tuple of characters to a string

In [46]:
Tuple=('C', 'o', 'n', 'v', 'e', 'r', 't', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g')
String=''.join(Tuple)
print("String is : ",String)

String is :  Convert a string

In [564]:
###25.Create a tuple from multiple data types

In [47]:
Tuple=(1,4.5,"Hello",True)
print("All Datatype : ",Tuple)

All Datatype :  (1, 4.5, 'Hello', True)

In [566]:
###26.Check if two tuples are identical

In [48]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Tuple2=(1,2,9,5,3,4,8,1,9)
if Tuple1==Tuple2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuples are not identical

In [568]:
###27.Sort the elements of a tuple

In [49]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Sort=tuple(sorted(Tuple1))
print("Sorted Tuple is : ",Sort)

Sorted Tuple is :  (1, 1, 2, 2, 4, 4, 5, 8, 9, 9)

In [580]:
###28.Convert a tuple of integers to a tuple of strings

In [50]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Strings=tuple(str(item) for item in Tuple1)
print("All String in Tuple is :",Strings)

All String in Tuple is : ('1', '2', '9', '4', '5', '2', '4', '8', '1', '9')

In [583]:
###29.Convert a tuple of strings to a tuple of integers

In [51]:
Tuple1=('1', '2', '9', '4', '5', '2', '4', '8', '1', '9')
Integers=tuple(int(item) for item in Tuple1)
print("All Integers in Tuple is :",Integers)

All Integers in Tuple is : (1, 2, 9, 4, 5, 2, 4, 8, 1, 9)

In [586]:
###30.Merge two tuples

In [52]:
Tuple1=(1,2,9,4,5,2,4,8,1,9)
Tuple2=(1,2,9,5,3,4,8,1,9)
Merged_Tuple=Tuple1+Tuple2
print("Merged Tuple is :",Merged_Tuple)

Merged Tuple is : (1, 2, 9, 4, 5, 2, 4, 8, 1, 9, 1, 2, 9, 5, 3, 4, 8, 1, 9)

In [588]:
###31.Flatten a nested tuple

In [53]:
Tuple1=((1,2),(9,4),(5,2),(4,8),(1,9))
Flatten=[i for subtuple in Tuple1 for i in subtuple]
Flatten_Tuple=tuple(Flatten)
print("Flatten Tuple is : ",Flatten_Tuple)

Flatten Tuple is :  (1, 2, 9, 4, 5, 2, 4, 8, 1, 9)

In [595]:
###32.Create a tuple of the first 5 prime numbers

In [59]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
prime_list = [n for n in range(2, 100) if prime(n)][:5]
prime_tuple = tuple(prime_list)
print("Tuple first 5 prime numbers:", prime_tuple)

Tuple first 5 prime numbers: (2, 3, 5, 7, 11)

In [663]:
###33.Check if a tuple is a palindrome

In [60]:
Tuple1=(1,2,3,4,5,7,3,2,1,9)
if Tuple1==Tuple[::-1]:
    print("Tuplle is Palindrome")
else:
    print("Tuple is not Palindrome")

Tuple is not Palindrome

In [665]:
###34.Create a tuple of squares of numbers from 1 to 5

In [61]:
Squared=[i**2 for i in range(1,6)]
Tuple_Squared=tuple(Squared)
print("Tuple of Squares : ",Tuple_Squared)

Tuple of Squares :  (1, 4, 9, 16, 25)

In [674]:
####35.Filter out all even numbers from a tuple

In [62]:
Tuple1=(1,2,3,4,6,7,3,2,8,9)
Filter=(i for i in Tuple1 if i%2!=0)
Filter_Tuple=tuple(Filter)
print("Tuple after Filter : ",Filter_Tuple)

Tuple after Filter :  (1, 3, 7, 3, 9)

In [680]:
##36.Multiply all elements in a tuple by 2

In [63]:
Tuple1=(1,2,3,4,6,7,3,2,8,9)
Multiply=(i*2 for i in Tuple1)
Multiply_Tuple=tuple(Multiply)
print("Tuple after Multiplication : ",Multiply_Tuple)

Tuple after Multiplication :  (2, 4, 6, 8, 12, 14, 6, 4, 16, 18)

In [684]:
##37.Create a tuple of random numbers

In [64]:
import random
List1=(random.randint(1,100) for i in range(10))
Tuple1=tuple(List1)
print("Random Tuple : ",Tuple1)

Random Tuple :  (40, 4, 28, 44, 26, 59, 1, 41, 6, 42)

In [691]:
###38.Check if a tuple is sorted

In [79]:
def sort(Tuple1):
    for i in range(len(Tuple1)-1):
        if Tuple1[i]>Tuple1[i+1]:
            return False
    return True
Tuple1=(1, 2, 3, 4,5, 6, 7, 8)
Tuple2=(9,5,3,5,6,1,9)
print(sort(Tuple1))
print(sort(Tuple2))

True
False

In [700]:
###39.Rotate a tuple to the left by n positions

In [80]:
Tuple1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32)
n=int(input("Enter the number to rotate left : "))
Rotated_Tuple=Tuple1[n:]+Tuple1[:n]
print(Rotated_Tuple)
type(Rotated_Tuple)

Enter the number to rotate left : 4
(5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32, 1, 2, 3, 4)

tuple

In [705]:
###40.Rotate a tuple to the right by n positions

In [81]:
Tuple1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32)
n=int(input("Enter the number to rotate right : "))
Rotated_Tuple=Tuple1[-n:]+Tuple1[:-n]
print(Rotated_Tuple)
type(Rotated_Tuple)

Enter the number to rotate right : 5
(13, 65, 32, 19, 32, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9)

tuple

In [706]:
##41.Create a tuple of the first 5 Fibonacci numbers

In [33]:
n=int(input("Enter the Number : "))
fibonacci=[0,1]
while len(fibonacci)<n:
    next_number=fibonacci[-1]+fibonacci[-2]
    fibonacci.append(next_number)
print("Tuple of Fibonacci Number : ",fibonacci)

Enter the Number : 5
Tuple of Fibonacci Number :  [0, 1, 1, 2, 3]

In [713]:
##42.Create a tuple from user input

In [89]:
String=input("Enter the String : ")
List=String.split(" ")
Tuple1=tuple(List)
print("User Entered Tuple : ",Tuple1)

Enter the String : python is a language
User Entered Tuple :  ('python', 'is', 'a', 'language')

In [2]:
##43.Swap two elements in a tuple

In [105]:
Tuple1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 65, 32, 19, 32)
index1 = 7
index2 = 6
tuple2 = tuple(Tuple1[i]
    if i not in (index1, index2) 
    else Tuple1[index2] 
    if i == index1
    else Tuple1[index1]
    for i in range(len(Tuple1)))
print("Swapped tuple:", tuple2)

Swapped tuple: (1, 2, 3, 4, 5, 6, 8, 7, 9, 13, 65, 32, 19, 32)

In [4]:
##44.Reverse the elements of a tuple

In [106]:
Tuple1=(1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 5, 6, 2, 9, 13, 65, 32, 19, 32)
Reversed_Tuple=Tuple1[::-1]
print("Reversed Tuple is : ",Reversed_Tuple)

Reversed Tuple is :  (32, 19, 32, 65, 13, 9, 2, 6, 5, 2, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [7]:
##45.Create a tuple of the first n powers of 2

In [107]:
n=3
power =(2 ** i for i in range(n))
Tuple_power=tuple(power)
print("Tuple of the powers of 2 : ",Tuple_power)

Tuple of the powers of 2 :  (1, 2, 4)

In [19]:
##46.Find the longest string in a tuple of strings

In [108]:
Tuple1=('Python', 'is', 'a', 'programming', 'language')
Long=''
for i in Tuple1:
    if len(i)>len(Long):
        Long=i
print("Longest String is : ",Long)   
type(Tuple1)

Longest String is :  programming

tuple

In [29]:
##47.Find the shortest string in a tuple of strings

In [109]:
Tuple1=('Python', 'is', 'a', 'programming', 'language')
Short=Tuple1[0]
for i in Tuple1:
    if len(i)<len(Short):
        Short=i
print("Shortest String is : ",Short)   
type(Tuple1)

Shortest String is :  a

tuple

In [30]:
##48.Create a tuple of the first n triangular numbers

In [110]:
def triangular(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = int(input("Enter the Number : "))
triangular_list = triangular(n)
triangular_tuple=tuple(triangular_list)
print("List of the ", n, "triangular numbers:", triangular_tuple)

Enter the Number : 6
List of the  6 triangular numbers: (1, 3, 6, 10, 15, 21)

In [53]:
###49.Check if a tuple contains another tuple as a subsequence

In [118]:
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tuple2 = (3, 4, 5)
def subsequence(tuple1,tuple2):
    length = len(tuple2)
    for i in range(len(tuple1) - length + 1):
        if tuple1[i:i+length] == tuple2:
            return True
    return False
print(subsequence(tuple1,tuple2))

True

In [45]:
###50.Create a tuple of alternating 1s and 0s of length n

In [119]:
n=10
list1=[i%2 for i in range(n)]
Tuple1=tuple(list1)
print("Tuple of alternating 1s and 0s : ",Tuple1)

Tuple of alternating 1s and 0s :  (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set based assignment problems

In [55]:
##1.Create a set with integers from 1 to 5

In [120]:
Set1={i for i in range(1,6)}
print("Set : ", Set1)

Set :  {1, 2, 3, 4, 5}

In [58]:
##2.Add an element to a set

In [121]:
set1 = {1, 2, 3, 4, 5}
Add_Element = 6
set1.add(Add_Element)
print("Set after adding element:", set1)

Set after adding element: {1, 2, 3, 4, 5, 6}

In [75]:
##3.Remove an element from a set

In [122]:
set2={1, 2, 3, 4, 5, 6}
remove_element=5
set2.remove(remove_element)
print("Set after removing element:", set2)

Set after removing element: {1, 2, 3, 4, 6}

In [77]:
##4.Check if an element exists in a set

In [123]:
set2={1, 2, 3, 4, 5, 6}
element=int(input("Enter the element : "))
if element in set2:
    print("Element Exists")
else:
    print("Element doesn't Exist")

Enter the element : 4
Element Exists

In [124]:
###5.Find the length of a set without using the len() function

In [125]:
set2={1, 2, 3, 4, 5, 6}
len=0
for i in set2:
    len=len+1
print("Length of a set : ",len)

Length of a set :  6

In [90]:
##6.Clear all elements from a set

In [126]:
set2={1, 2, 3, 4, 5, 6}
set2.clear()
print(set2)

set()

In [93]:
##7.Create a set of even numbers from 1 to 10

In [127]:
set1={i for i in range(1,11) if i%2==0}
print("Set of even numbers from 1 to 10 : ",set1)

Set of even numbers from 1 to 10 :  {2, 4, 6, 8, 10}

In [102]:
##8.Create a set of odd numbers from 1 to 10

In [128]:
set1={i for i in range(1,10) if i%2!=0}
print("Set of even numbers from 1 to 10 : ",set1)

Set of even numbers from 1 to 10 :  {1, 3, 5, 7, 9}

In [104]:
##9.Find the union of two sets

In [129]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8}
union=set1.union(set2)
print("Union of two sets :", union)

Union of two sets : {1, 2, 3, 4, 5, 6, 7, 8}

In [108]:
###10.Find the intersection of two sets

In [130]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8}
intersection=set1.intersection(set2)
print("Intersection of two sets :", intersection)

Intersection of two sets : {3, 4, 5, 6, 7}

In [110]:
###11.Find the difference between two sets

In [131]:
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8}
difference=set1.difference(set2)
print("Difference of two sets :", difference)

Difference of two sets : {1, 2}

In [113]:
###12.Check if a set is a subset of another set

In [132]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
subset=set1.issubset(set2)
if subset==True:
    print("Set 1 is subset of Set2")
else:
    print("Set 1 is not subset of Set2")

Set 1 is subset of Set2

In [119]:
###13.Check if a set is a superset of another set

In [133]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
superset=set2.issuperset(set1)
if superset==True:
    print("Set 2 is superset of Set1")
else:
    print("Set 2 is not superset of Set1")

Set 2 is superset of Set1

In [122]:
##14.Create a set from a list

In [134]:
list1=[1,2,3,4,5,6]
Set1=set(list1)
print("Set : ",Set1)

Set :  {1, 2, 3, 4, 5, 6}

In [124]:
##15.Convert a set to a list

In [1]:
Set1={1,2,3,4,5,6}
list1=list(Set1)
print("List : ",list1)

List :  [1, 2, 3, 4, 5, 6]

In [126]:
##16.Remove a random element from a set

In [2]:
import random
Set1={1,2,3,4,5,6}
delete=random.choice(list(Set1))
Set1.remove(delete)
print("Set after removal : ",Set1)

Set after removal :  {1, 2, 3, 4, 5}

In [137]:
##17.Pop an element from a set

In [3]:
Set1={1,2,3,4,5,6}
pop1=Set1.pop()
print("Set after Pop : ",Set1)

Set after Pop :  {2, 3, 4, 5, 6}

In [140]:
##18.Check if two sets have no elements in common

In [141]:
##19.Find the symmetric difference between two sets

In [142]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
Symmetric=set1^set2
print("Symmetric Difference : ",Symmetric)

Symmetric Difference :  {5, 6, 7, 8}

In [143]:
##20.Update a set with elements from another set

In [145]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
###21.Create a set of the first 5 prime numbers

In [5]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
prime_list = [n for n in range(2, 100) if prime(n)][:5]
prime_set = set(prime_list)
print("Tuple first 5 prime numbers:", prime_set)

Tuple first 5 prime numbers: {2, 3, 5, 7, 11}

In [147]:
###22.Check if two sets are identical

In [6]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
if set1==set2:
    print("Sets are identical")
else:
    print("Sets are not identical")

Sets are not identical

In [149]:
###23.Create a frozen set

In [7]:
set1={1,2,3,4}
frozen=frozenset(set1)
print("Frozen set : ",frozen)

Frozen set :  frozenset({1, 2, 3, 4})

In [151]:
###24.Check if a set is disjoint with another set

In [8]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
disjoint=set1.isdisjoint(set2)
print("Are Sets disjont : ",disjoint)

Are Sets disjont :  False

In [153]:
###25.Create a set of squares of numbers from 1 to 5

In [9]:
set1={i**2 for i in range(1,6)}
print("Squares of Numbers : ",set1)

Squares of Numbers :  {1, 4, 9, 16, 25}

In [158]:
###26.Filter out all even numbers from a set

In [10]:
set1={1,2,3,4,6,8,9,11,14,17,23}
odd=set(i for i in set1 if i%2!=0 )
print("Odd Numbers : ",odd)

Odd Numbers :  {1, 3, 9, 11, 17, 23}

In [164]:
##27.Multiply all elements in a set by 2

In [11]:
set1={1,2,3,4,6,8,9,11,14,17,23}
multiply={2*i for i in set1}
set(sorted(multiply))

{2, 4, 6, 8, 12, 16, 18, 22, 28, 34, 46}

In [191]:
##28.Create a set of random numbers

In [12]:
import random
random=set(random.randint(1,100) for i in range(10))
print("Random Numbers : ",random)

Random Numbers :  {32, 99, 68, 73, 48, 17, 20, 58, 60, 30}

In [194]:
###29.Check if a set is empty

In [13]:
set1={1,2,3,4,5}
if not set1:
    print("Set is Empty")
else:
    print("Set is not Empty")

Set is not Empty

In [196]:
###30.Create a nested set (hint: use frozenset)

In [14]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
frozenset1=frozenset(set1)
frozenset2=frozenset(set2)
Combine_set={frozenset1,frozenset2}
print("Combine set : ",Combine_set)

Combine set :  {frozenset({1, 2, 3, 4}), frozenset({1, 2, 3, 4, 5, 6, 7, 8})}

In [199]:
###31.Remove an element from a set using the discard method

In [15]:
set2={1,2,3,4,5,6,7,8}
set2.discard(6)
print("Set after discard : ",set2)

Set after discard :  {1, 2, 3, 4, 5, 7, 8}

In [206]:
###32.Compare two sets

In [16]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
subset1=set1.issubset(set2)
print("Is set1 a subset of set2?", subset1)
subset2=set2.issubset(set1)
print("Is set2 a subset of set1?", subset2)
superset1=set1.issuperset(set2)
print("Is set1 a superset of set2?", superset1)
superset2=set2.issuperset(set1)
print("Is set2 a superset of set1?", superset2)
union=set1.union(set2)
print("Union:", union)
intersection=set1.intersection(set2)
print("Intersection:", intersection)
difference1=set1.difference(set2)
print("Elements in set1 but not in set2:", difference1)
difference2=set2.difference(set1)
print("Elements in set2 but not in set1:", difference2)

Is set1 a subset of set2? True
Is set2 a subset of set1? False
Is set1 a superset of set2? False
Is set2 a superset of set1? True
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {1, 2, 3, 4}
Elements in set1 but not in set2: set()
Elements in set2 but not in set1: {8, 5, 6, 7}

In [239]:
##33.Create a set from a string

In [17]:
string="Python"
string={*string}
print("Set from a String : ",string)

Set from a String :  {'y', 'P', 't', 'n', 'h', 'o'}

In [240]:
##34.Convert a set of strings to a set of integers

In [18]:
String={'12','16','19','43'}
String={int(i) for i in String}
print("Set : ",String)

Set :  {16, 43, 19, 12}

In [244]:
##35.Convert a set of integers to a set of strings

In [19]:
Set1={16, 19, 43, 12}
Set1={str(i) for i in Set1}
print("Set : ",Set1)

Set :  {'19', '16', '43', '12'}

In [19]:
##36.Create a set from a tuple

In [20]:
tuple1=(1,2,4,7,9,13)
set1={*tuple1,}
print("Set : ",set1)

Set :  {1, 2, 4, 7, 9, 13}

In [262]:
##37.Convert a set to a tuple

In [21]:
set1={1, 2, 4, 7, 9, 13}
tuple1=tuple(set1)
print("Tuple : ",tuple1)

Tuple :  (1, 2, 4, 7, 9, 13)

In [22]:
##38.Find the maximum value in a set

In [23]:
set1={1, 2, 4, 7, 9, 13}
max=0
for i in set1:
    if i>max:
        max=i
print("Maximum Value : ",max)

Maximum Value :  13

In [276]:
##39.Find the minimum value in a set

In [24]:
set1={1, 2, 4, 7, 9, 13}
min=None
for i in set1:
    if min is None or i<min:
        min=i
print("Minimum Value : ",min)

Minimum Value :  1

In [283]:
##40.Create a set from user input

In [27]:
a=set()
Number=int(input("Enter the number : "))
for i in range(Number):
    element=int(input("Enter elements : "))
    a.add(element)
print("User Entered Set : ",a)

Enter the number : 4
Enter elements : 1
Enter elements : 2
Enter elements : 3
Enter elements : 4
User Entered Set :  {1, 2, 3, 4}

In [291]:
##41.Check if the intersection of two sets is empty

In [28]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
intersection=set1.intersection(set2)
if not intersection:
    print("Intersection is Empty")
else:
    print("Intersection is not Empty")

Intersection is not Empty

In [12]:
##42.Create a set of the first 5 Fibonacci numbers

In [39]:
def fibonacci(n):
    if n in {0, 1}:
        return n
    return fibonacci(n - 1) + fibonacci(n - 2)  # Recursive case
set1={fibonacci(n) for n in range(6)}
print("Set of Fibonacci Numbers : ",set1)

Set of Fibonacci Numbers :  {0, 1, 2, 3, 5}

In [54]:
###43.Remove duplicates from a list using sets

In [63]:
list1 = [3,8,1,9,5,7,3,6,8]
set1=set(list1)
list2=list(set1)
print("List without duplicates : ",list2)

List without duplicates :  [1, 3, 5, 6, 7, 8, 9]

In [20]:
###44.Check if two sets have the same elements, regardless of their count

In [64]:
set1={1,2,3,4}
set2={1,2,3,4,3,2,1}
list1=sorted(list(set1))
list2=sorted(list(set2))
if list1==list2:
    print("Sets have same elements")
else:
    print("Sets do not have same elements")

Sets have same elements

In [23]:
###45.Create a set of the first n powers of 2

In [65]:
power=set()
n=int(input("Enter the number"))
for i in range(n):
    pow=2**i
    power.add(pow)
print("Powers of 2 : ",power)

Enter the number5
Powers of 2 :  {1, 2, 4, 8, 16}

In [26]:
###46.Find the common elements between a set and a list

In [66]:
list1 = [3,8,1,9,5,7,6]
set1={1,2,3,4,5,6,7,8}
common=[]
for i in list1:
    if i in set1:
        common.append(i)
print("Common Elements : ",common)

Common Elements :  [3, 8, 1, 5, 7, 6]

In [35]:
###47.Create a set of the first n triangular numbers

In [67]:
triangular=set()
n=int(input("Enter the value of n : "))
for i in range(1,n + 1):
    result = i * (i + 1) // 2
    triangular.add(result)
print("Triangular Numbers : ",triangular)

Enter the value of n : 5
Triangular Numbers :  {1, 3, 6, 10, 15}

In [62]:
###48.Check if a set contains another set as a subset

In [68]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
check=set1.issubset(set2)
if check is True:
    print("Set1 is subset of Set2")
else:
    print("Set1 is not a subset of Set2")

Set1 is subset of Set2

In [66]:
###49.Create a set of alternating 1s and 0s of length n

In [69]:
n=int(input("Enter the Number : "))
set1={i%2 for i in range(n)}
print("Tuple of alternating 1s and 0s : ",set1)

Enter the Number : 5
Tuple of alternating 1s and 0s :  {0, 1}

In [78]:
###50.Merge multiple sets into one

In [70]:
set1={1,2,3,4}
set2={1,2,3,4,7,9,11}
set3={4,6,7,9,1}
Merged_Set=set1.union(set2,set3)
print("Merged Set : ",Merged_Set)

Merged Set :  {1, 2, 3, 4, 6, 7, 9, 11}